/vendor
/node_modules
/.git
/.env
/.env.backup
/.env.production
/.env.docker
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/tests/_output
/tmp
.idea
.vscode
*.log
.DS_Store
